{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}

    <h1>{{ titre }}</h1>
    <a href="/encodage"> Encodage </a>
    <a href="/decodage"> Decodage </a>

{% endblock %}

